.main {
  margin: 0 auto;
}

.page {
  margin: 70px auto 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.title {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 539px) {
  .page {
    margin: 32px auto 32px;
    gap: 32px;
  }
}
