.social__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 22px;
  height: 17px;

  &_footer {
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .social__links {
    gap: 10px;
  }
}
